.body {
    color: rgb(255, 255, 255);
    background-color: black;
    margin: 0;
}

.header {
    height: 15vw;
    text-align: center;
}

.header-label {
    margin: 0;
    font-size: 8.0vw;
}

.second-paragraph {
    font-size: 3.0vw;
    text-align: center;
}

.contents {
    margin: 0;
}

.footer {
    margin: 25px 30px;
}

.navigation-label {
    font-size: 8.0vw;
    text-align: center;
    margin: 60px 0 0 0;
    color: palegoldenrod;
}

.navigation-list {
    text-align: center;
    padding: 0;
}

.navigation-item {
    font-size: 5.0vw;
    display: inline-block;
    margin: 40px 0 30px 0;
}

.navigation-button {
    border-radius: 4px;
    border: 1px solid white;
    padding: 20px 30px;
}

.shop-name {
    color: rgb(255, 255, 255);
    font-size: 6vw;
    text-decoration: none;
}

.shop-list {
    list-style: none;
    padding: 0;
}

.shop-video {
    width: 869px;
    height: 489px;
    left: 0px;
    top: 0px;
}

.shop-item {
    border: solid 1px lightblue;
    padding: 5px;
    overflow-x: hidden;
}

.shop-item-grid {
    display: inline-block;
    padding: 5px;
}

.open-hour {
    color: rgb(255, 255, 255);
    margin: 10px 0 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.distance {
    color:lightsteelblue;
    font-size: 25px;
    padding: 0 10px;
}

.map-image {
    height: 30px;
}

.tel-image {
    height: 30px;
    margin-left: 10px;
}

.back-image-container {
    float: left;
    padding: 10px 0 0 40px;
}

.back-image {
    height: 50px;
    filter: invert(1);
}

.dish-image-container {
    text-align: center;
    max-height: 320px;
}

.dish-image-wrapper {
    border: 1px solid floralwhite;
    display: inline-block;
    height: 150px;
    width: 200px;
    background-color: black;
}

.latest-image-wrapper {
    display: inline-block;
    width: 25vw;
    height: 25vw;
    text-align: center;
}

.dish-image {
    height: 150px;
}

.latest-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.shop-genre {
    font-size: 16px;
    color: lightsalmon;
}

.list-item {
    text-decoration: none;
    color: white;
}

.ranking-list {
    list-style: none;
}

.ranking-item {
    padding: 10px;
}
